<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delius&family=Montserrat:wght@100&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
    <title>To Do List</title>
</head>

<body>
    <div class="container">
        <h1 class="date">Monday, March 27.</h1>
        <p class="pending-work">You have 3 pending work(s).</p>

        <ol class="ordered-list">
            <li class="list-items">1.Make Food.</li>
            <li class="list-items">2.Cook Food.</li>
            <li class="list-items">3.Eat Food.</li>
        </ol>

        <!-- <form action="/" method="post">
            <input type="text" name="TextOfToDo" placeholder="Enter things to do.">
            <button class="last-button" type="submit">Add.</button>
        </form> -->
        <form action="/" method="post">
            <div class="input-group">
              <input type="text" class="input" id="Email" name="TextOfToDo" placeholder="Add items To Do" autocomplete="off">
              <input class="button--submit" value="Subscribe" type="submit">
            </div>
          </form>

    </div>

</body>

</html>